.intro {
  max-width: 984px;
  padding: 46px 0 46px;
  margin: 0 auto;
}
.intro__title {
  font-family: inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 830px;
}
.intro__subtitle {
  font-family: inter;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  margin-top: 40px;
}

.intro_author {
  max-width: 732px;
  font-family: inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin: 10px 0;
}
.intro__Description {
  max-width: 722px;
  font-family: inter;
  font-size: 16px;
  line-height: 163%;
  margin-top: 32px;
}
@media screen and (max-width: 1024px) {
  .intro {
    padding-top: 0px;
    max-width: 720px;
    margin-top: 0px;
  }
  .intro__title {
    font-family: inter;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
  }
  .intro__subtitle {
    font-family: inter;
    font-size: 24px;
    line-height: 34px;
    max-width: 720px;
    margin-top: 50px;
  }
  .intro_author {
    max-width: 720px;
    font-family: inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    margin: 10px 0;
  }
  .intro__Description {
    max-width: 720px;
    font-family: inter;
    font-size: 16px;
    line-height: 163%;
    margin-top: 32px;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    max-width: 288px;
    padding: 64px 0 64px;
    margin: 0 auto;
  }
  .intro__title {
    font-family: inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 0 auto 0;
  }
  .intro__subtitle {
    font-family: inter;
    font-size: 24px;
    line-height: 30px;
    max-width: 288px;
    margin-top: 40px;
  }
  .intro_author {
    max-width: 288px;
    font-family: inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    margin: 10px 0 0px;
  }
  .intro__Description {
    max-width: 288px;
    font-family: inter;
    font-size: 16px;
    line-height: 163%;
    margin-top: 32px;
  }
}
